$mildpink: #FCE6EA; //coming from https://www.htmlcsscolor.com/hex/F6B3BF

.app {

    .container {

        //Styling for Login Page

        .auth {
            display: flex;
            flex-direction: column; //centered Login to top
            align-items: center;
            justify-content: center;
            //background-color: lightcoral; //don't like the look of this
            height: 100vh; //pushed down height of login page
            background-color: $mildpink;
        }

        h1 {
            font-size: 100px; //refers to Login styling
            color: rgb(9, 24, 67);
            margin-bottom: 120px;
        }

        form {
            display: flex; //this changed the look of username/pass/button box
            flex-direction: column;
            //    padding: 10px; //adding background to my boxes
            //    background-color: white; //this didn't work the way I envisioned, its my div placement
            //   width: 200px;
            gap: 20px; //gave desirable spacing
        }
    }
}